<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @report.url %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @report.guid %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @report.timestamp %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @report.contact %>
</p>

<script type="text/javascript">window.onload = REPORT.track()</script>


